<div class="container header-container">
  <a href="../../../index.html" class="header-logo">
    <img src="./img/home/header/logo.webp" 
    alt="логотип магазину" width="45" height="45">
    <p class="header-logo-text">
      ЛУНАРІУМ
    </p>
  </a>
  <ul class="header-nav">
    <li class="header-nav-item">
      <a href="" class="header-icon-container">
        <svg width="20" height="20">
          <use href="./../../img/home/icon.svg#icon-like"></use>
        </svg>
      </a>
    </li>
    <li class="header-nav-item">
      <a href="" class="header-icon-container">
        <svg width="20" height="20">
          <use href="./../../img/home/icon.svg#icon-bascet"></use>
        </svg>
      </a>
    </li>
    <li class="header-nav-item">
      <button class="header-icon-container">
        <svg width="20" height="20">
          <use href="./../../img/home/icon.svg#icon-menu"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
