.header-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-logo-text {
    font-weight: 500;
}

.header-nav {
    display: flex;
    gap: 10px;
}

.header-icon-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}