<section class="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">
      Каталог
    </h2>
    <ul class="catalog-button-list">
      <li class="catalog-button-container">
        <button class="catalog-button">
          <svg width="20" height="20">
            <use href="../../../img/home/icon.svg#icon-filter"></use>
          </svg>
          <span class="catalog-button-text">
            Фільтри
          </span>
        </button>
      </li>
      <li class="catalog-button-container">
        <button class="catalog-button">
          <svg width="20" height="20">
            <use href="../../../img/home/icon.svg#icon-sort"></use>
          </svg>
          <span class="catalog-button-text">
            Сортування
          </span>
        </button>
      </li>
    </ul>
    <ul class="catalog-gods-list">
      <li class="catalog-gods-item">
        <a href="" class="catalog-gods-img-container">
          <img height="135" width="135"
          class="catalog-gods-img"
          src="../../../img/home/catalog/ironFlask.webp" 
          alt="фото товару">
        </a>
        <a href="">
          <p class="catalog-gods-text">
            фляга металева | Арні
          </p>
        </a>
        <p class="catalog-gods-price">
          <strong class="catalog-gods-price-text">
            ціна 300 грн
          </strong>
        </p>
      </li>
      <li class="catalog-gods-item">
        <a href="" class="catalog-gods-img-container">
          <img height="135" width="135"
          class="catalog-gods-img"
          src="../../../img/home/catalog/ironFlask.webp" 
          alt="фото товару">
        </a>
        <a href="">
          <p class="catalog-gods-text">
            фляга металева | Арні
          </p>
        </a>
        <p class="catalog-gods-price">
          <strong class="catalog-gods-price-text">
            ціна 300 грн
          </strong>
        </p>
      </li>
      <li class="catalog-gods-item">
        <a href="" class="catalog-gods-img-container">
          <img height="135" width="135"
          class="catalog-gods-img"
          src="../../../img/home/catalog/ironFlask.webp" 
          alt="фото товару">
        </a>
        <a href="">
          <p class="catalog-gods-text">
            фляга металева | Арні
          </p>
        </a>
        <p class="catalog-gods-price">
          <strong class="catalog-gods-price-text">
            ціна 300 грн
          </strong>
        </p>
      </li>
      <li class="catalog-gods-item">
        <a href="" class="catalog-gods-img-container">
          <img height="135" width="135"
          class="catalog-gods-img"
          src="../../../img/home/catalog/ironFlask.webp" 
          alt="фото товару">
        </a>
        <a href="">
          <p class="catalog-gods-text">
            фляга металева | Арні
          </p>
        </a>
        <p class="catalog-gods-price">
          <strong class="catalog-gods-price-text">
            ціна 300 грн
          </strong>
        </p>
      </li>
    </ul>
  </div>
</section>