.catalog-container {
    padding-bottom: 40px;
}

.catalog-title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 94.75%;
    color: #000000;
    padding: 20px 0;
}

.catalog-button-list {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    width: 100vw;
    position: relative;
    left: -15px;
}

.catalog-button-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.catalog-button-container:first-child {
    border-right: 1px solid #afafaf;
}

.catalog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    min-width: 140px;
    border-radius: 4px;
}

.catalog-button-text {
    line-height: 1.6;
    font-weight: 600;
}

.catalog-gods-list {
    padding-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-gods-item {
    width: 135px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catalog-gods-img {
    border-radius: 5px;
}

.catalog-gods-text {
    font-weight: 500;
}

.catalog-gods-price-text {
    font-weight: 500;
    color: #A5ACAD;
}