<ul class='contact'>
    <li class='contactItem'>
        <img src='./component/contact/img/phone.svg' alt="phone" class='filterWhite' />
        <a href="tel:+380686226171"> <span> +380(68)-622-61-71 </span> </a>
    </li>
    <li class='contactItem'>
        <img src='./component/contact/img/viber.svg' alt="viber" />
        <a href="viber://add?number=+380686226171"> <span> +380(68)-622-61-71 </span> </a>
    </li>
    <li class='contactItem'>
        <img src='./component/contact/img/telegram.svg' alt="telegram" />
        <a href="https://t.me/+380686226171"> <span> +380(68)-622-61-71 </span> </a>
    </li>
    <li class='contactItem'>
        <img src='./component/contact/img/email.svg' alt="email" class='filterWhite' />
        <a href="mailto:sergijlunev@ukr.net"> <span> sergijlunev@ukr.net </span> </a>
    </li>
</ul>
<script src="./component/contact/main.js" type="module" ></script>